body {
  /*font-family: "Ubuntu Mono", monospace;*/
}

.team-box {
  background-color: #eee;
  display: inline-block;
  margin-right: 0.5rem;
  padding: 0 0.25rem;
}

.position {
  border-right: 2px solid #dbdbdb !important;
  text-align: center !important;
}

.goal-difference {
  margin-left: 0.5rem;
  text-align: center;
}

.goal-difference.positive {
  color: green;
}

.goal-difference.negative {
  color: red;
}

.table .points {
  color: white;
  text-align: center !important;
}

th.header-points, th.header-position {
  width: 10px;
}